@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TestSöhne";
    src: url("../public/assets/font/TestSöhneBreit/test-soehne-breit-buch.woff2");
  }
}

.button-1 {
  border: 1px solid darkblue;
  border-radius: 5px;
  padding: 5px 20px;
}
.button-1:hover {
  opacity: 0.5;
}
